<?xml version="1.0"?>
<config>
    <modules>
        <Emico_Tweakwise>
            <version>1.13.0</version>
        </Emico_Tweakwise>
    </modules>
    <global>
        <blocks>
            <emico_tweakwise>
                <class>Emico_Tweakwise_Block</class>
            </emico_tweakwise>
            <catalog>
                <rewrite>
                    <product_list_upsell>Emico_Tweakwise_Block_Catalog_Product_List_Upsell</product_list_upsell>
                    <product_list_related>Emico_Tweakwise_Block_Catalog_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_crosssell>Emico_Tweakwise_Block_Checkout_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <emico_tweakwise>
                <class>Emico_Tweakwise_Helper</class>
            </emico_tweakwise>
        </helpers>
        <models>
            <emico_tweakwise>
                <class>Emico_Tweakwise_Model</class>
                <resourceModel>emico_tweakwise_resource</resourceModel>
            </emico_tweakwise>
            <emico_tweakwise_resource>
                <class>Emico_Tweakwise_Model_Resource</class>
                <entities>
                    <slug_attribute_mapping>
                        <table>emico_tweakwise_slug_attribute_mapping</table>
                    </slug_attribute_mapping>
                </entities>
            </emico_tweakwise_resource>
        </models>
        <resources>
            <emico_tweakwise_setup>
                <setup>
                    <module>Emico_Tweakwise</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </emico_tweakwise_setup>
        </resources>
    </global>

    <emico_tweakwise>
        <urlbuilder_strategies>
            <category>
                <class>emico_tweakwise/urlBuilder_strategy_categoryStrategy</class>
                <active>1</active>
                <priority>1</priority>
                <selectable>0</selectable>
            </category>
            <queryParam>
                <class>emico_tweakwise/urlBuilder_strategy_queryParamStrategy</class>
                <active>0</active>
                <priority>2</priority>
                <selectable>1</selectable>
                <label>Query params</label>
            </queryParam>
            <path>
                <class>emico_tweakwise/urlBuilder_strategy_pathStrategy</class>
                <active>0</active>
                <priority>3</priority>
                <selectable>1</selectable>
                <label>URL segments</label>
            </path>
        </urlbuilder_strategies>
    </emico_tweakwise>

    <default>
        <emico_tweakwise>
            <global>
                <server_url>http://navigator-bus2.tweakwise.com/</server_url>
            </global>
            <navigation>
                <enabled>0</enabled>
                <enabled_ajax>1</enabled_ajax>
                <hide_one_option_facet>1</hide_one_option_facet>
                <category_as_link>1</category_as_link>
                <category_tree_start_depth>1</category_tree_start_depth>
                <search_same_as_category>1</search_same_as_category>
                <category_as_link_search>1</category_as_link_search>
                <category_tree_start_depth_search>1</category_tree_start_depth_search>
                <uri_strategy>queryParam</uri_strategy>
            </navigation>
            <autocomplete>
                <enabled>0</enabled>
                <products>1</products>
                <suggestions>1</suggestions>
                <in_category>1</in_category>
                <max_result>0</max_result>
                <min_search_chars>2</min_search_chars>
            </autocomplete>
            <search>
                <enabled>0</enabled>
            </search>
            <menu>
                <enabled>0</enabled>
            </menu>
            <recommendations>
                <enabled>0</enabled>
                <ajax>1</ajax>
            </recommendations>
        </emico_tweakwise>
    </default>
    <frontend>
        <layout>
            <updates>
                <emico_tweakwise>
                    <file>emico_tweakwise.xml</file>
                </emico_tweakwise>
            </updates>
        </layout>
        <translate>
            <modules>
                <Emico_Tweakwise>
                    <files>
                        <default>Emico_Tweakwise.csv</default>
                    </files>
                </Emico_Tweakwise>
            </modules>
        </translate>
        <routers>
            <emico_tweakwise>
                <use>standard</use>
                <args>
                    <module>Emico_Tweakwise</module>
                    <frontName>tweakwise</frontName>
                </args>
            </emico_tweakwise>
            <catalogsearch>
                <args>
                    <modules>
                        <emico_tweakwise before="Mage_Catalogsearch">Emico_Tweakwise_Catalogsearch</emico_tweakwise>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>setCategoryTemplate</method>
                    </emico_tweakwise>
                </observers>
            </catalog_controller_category_init_after>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>handleAjaxRequest</method>
                    </emico_tweakwise>
                    <emico_tweakwise_nofollow>
                        <class>emico_tweakwise/observer</class>
                        <method>setNoIndexNoFollow</method>
                    </emico_tweakwise_nofollow>
                    <emico_tweakwise_canonical>
                        <class>emico_tweakwise/observer</class>
                        <method>setRelCanonical</method>
                    </emico_tweakwise_canonical>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>handleAjaxRequest</method>
                    </emico_tweakwise>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>ensureAjaxOrRedirect</method>
                    </emico_tweakwise>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>ensureAjaxOrRedirect</method>
                    </emico_tweakwise>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <emico_tweakwise_handle_ajax_request_after>
                <observers>
                    <emico_tweakwise_enterprise>
                        <class>emico_tweakwise/enterprise_observer</class>
                        <method>disableFullPageCache</method>
                    </emico_tweakwise_enterprise>
                </observers>
            </emico_tweakwise_handle_ajax_request_after>
        </events>
    </frontend>
    <default>
        <web>
            <routers>
                <emico_tweakwise>
                    <area>frontend</area>
                    <class>Emico_Tweakwise_Controller_Router</class>
                </emico_tweakwise>
            </routers>
        </web>
    </default>
</config>
